@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@import "tailwindcss";

@theme {
  --font-title: "Bruno Ace SC", serif;
  --font-logo: "Agbalumo", serif;
  --font-headingXXL: "Paprika", serif;
}
