@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@import "tailwindcss";

@theme {
  --font-title: "Bruno Ace SC", serif;
  --font-logo: "Agbalumo", serif;
  --font-headingXXL: "Paprika", serif;
}

.btn-primary {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded md:py-12 md:px-15
         hover:bg-blue-600 focus:ring-2 focus:ring-blue-300;
}
