* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.background_img {
    position: fixed;
    width: 100%;
}

.background_img img {
    object-fit: fill;
    z-index: -100;
    width: 100%;
    height: 100vh;
    transform: scaleX(-1);
}

.top_panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 20px 20px 10px 20px;
    box-shadow: 0px 4px 7px #00000071;
}

.top_panel img {
    object-fit: contain;
    max-height: 72px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    background-color: transparent;
    height: auto;
}

.navbar a {
    width: fit-content;
    padding: 12px 15px 12px 15px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
}

.nav_a {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-family: "Oldenburg", serif;
}

.navbar a.scrolled {
    background-color: #0f7e00;
}

.navbar a:hover {
    background-color: #096e00;
    color: white;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    z-index: 1;
}


header {
    height: auto;
    width: 100%;
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu {
    display: none;
    cursor: pointer;
}

.navbar.showMenu {
    display: flex;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    backdrop-filter: blur(6px);
    border-radius: 1px;
    padding: 40px;
    height: auto;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 20px;
}

.mainbox_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.products_and_features_btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --leftboxcolor: rgba(32, 32, 32, 0.158);
    box-shadow: 4px 4px 4px 4px var(--leftboxcolor), -4px 4px 4px 4px var(--leftboxcolor);
}

.products_and_features_logo {
    border: none;
    background-color: transparent;
    height: fit-content;
    border-radius: 50%;
    padding: 4px;
}

.products_and_features_logo img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.products_and_features_btn p {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    --blackshadow: rgba(0, 0, 0, 0.212);
    text-shadow: 1px 1px 2px rgb(36, 36, 36), 0 0 25px rgb(128, 128, 128), 0 0 5px rgb(255, 255, 255);
}

.products_and_features_btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.products_and_features_btn:active {
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.288) inset, -4px 3px 4px rgba(0, 0, 0, 0.288) inset;
}


.mainbox_top {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mainbox_top p {
    font-size: 1.4rem;
    color: rgb(238, 238, 238);
    font-family: "Oldenburg", serif;
    text-align: center;
    padding: 0 20px 0 20px;
    width: 80%;
}

.comingsoon {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .05em solid orange;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1rem;
    /* Adjust as needed */
    animation:
        typing 4s infinite steps(50, end),
        blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.mainbox_bottom {
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    align-items: center;
    max-width: 800px;
    padding: 5px;
    row-gap: 30px;
}

.mainbox_bottom p {
    text-align: center;
    text-justify: inter-word;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    /* font-family: "Oldenburg", serif; */
    font-family: "Mukta Malar", serif;
}


.titlelogo_box {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}




.join_btn {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(0, 116, 170);
    border: none;
    width: 160px;
    height: 50px;
    /* box-shadow: 0.1px 3px 2px 2px rgba(134, 65, 0, 0.37); */
}

.join_btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(0, 145, 212);
}

.join_btn:active {
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.288) inset, -4px 3px 4px rgba(0, 0, 0, 0.288) inset;
}



.Content_01 {
    backdrop-filter: blur(6px);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px;
}

.founder_title {
    font-family: "Oldenburg", serif;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.founder_name {
    font-family: "Oldenburg", serif;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

.founder-container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}

.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.found {
    object-fit: cover;
    width: 225px;
    height: 300px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.found:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}




footer {
    width: 100%;
    height: auto;
    padding: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(6px);
}

.foot2 {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.foot2 p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Oldenburg", serif;
}

.foot1 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logos {
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    transform: scale(1.6);
}

.logos:hover {
    transition: ease-in;
    font-size: xx-large;
    cursor: pointer;
}

.location {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(185, 0, 0);
    transform: scale(2);
}

.location:hover {
    transition: ease-in;
    transform: scale(2.8);
    cursor: pointer;
}


@keyframes fadeIn {

    25%,
    75% {
        opacity: 0;
    }

    0%,
    50%,
    100% {
        opacity: 1;
    }
}

.animated-text {
    animation: fadeIn 3s infinite ease-in-out;
}


.itim-regular {
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
}


.oldenburg-regular {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}


.menu {
    display: none;
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 1366px) {

    .comingsoon {
        font-size: 4rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 75%
        }
    }
}


@media screen and (max-width: 768px) {

    * {
        font-size: 12px;
    }

    .navbar {
        position: absolute;
        top: 90px;
        left: 0;
        display: none;
        flex-wrap: wrap;
        gap: 0;
        background-color: transparent;
        height: auto;
        width: 100%;
    }

    .navbar a {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        background-color: #4e4e4e;
        border-radius: 0;
        text-align: center;
    }

    .nav_a {
        display: block;
        width: 100%;
        color: white;
        font-size: 1.6rem;
    }

    .navbar a.scrolled {
        background-color: #00630d;
    }

    .navbar.showMenu {
        display: flex;
    }

    body {
        gap: 30px;
    }

    .background_img {
        height: auto;
        width: auto;
    }

    .background_img img {
        object-fit: cover;
        z-index: -100;
        max-width: 768px;
        height: 100vh;
        transform: scaleX(-1);
    }

    .menu {
        display: block;
    }

    .top_panel img {
        object-fit: contain;
        max-height: 66px;
    }

    .mainbox_middle {
        flex-direction: column;
        gap: 30px;
    }

    .mainbox {
        width: 84%;
        backdrop-filter: blur(4px);
        border-radius: 1px;
        padding: 20px;
        height: auto;
        row-gap: 40px;
        background-color: rgba(0, 0, 0, 0.096);
        border-radius: 20px;
    }

    .mainbox_top {
        width: 100%;
        gap: 10px;
    }

    .mainbox_top p {
        font-size: 1.4rem;
        color: rgb(238, 238, 238);
        font-family: "Oldenburg", serif;
        text-align: left;
        width: fit-content;
        padding: 10px 10px;
    }

    .comingsoon {
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 95%
        }
    }

    .products_btn {
        font-size: 1.6rem;
        padding: 10px;
        border-radius: 100px;
        background-color: rgba(0, 82, 16, 0.8);
        border: none;
        width: 240px;
        height: 80px;
        box-shadow: 0.1px 3px 2px 2px rgba(5, 5, 5, 0.37);
    }

    .services_btn {
        font-size: 1.6rem;
        padding: 10px;
        border-radius: 100px;
        background-color: rgb(170, 0, 0, 0.6);
        border: none;
        width: 240px;
        height: 80px;
        box-shadow: 0.1px 3px 2px 2px rgba(0, 0, 0, 0.37);
    }


    .mainbox_bottom {

        max-width: 800px;
        padding: 20px;
        row-gap: 30px;
    }

    .mainbox_bottom p {
        font-size: 1rem;
    }

    .founder-container {
        padding: 30px 0 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
    }

    .founder_title {
        font-size: 2.6rem;
    }

    .founder_name {
        font-size: 1.8rem;
    }

    footer {
        flex-direction: column;
        gap: 30px;
    }

    .foot1 {
        padding: 10px;
    }

    .logos {
        transform: scale(2);
    }

    .location {
        transform: scale(2.5);
    }

    .menu {
        display: block;
    }

    .menulogo {
        transform: rotate(90deg);
    }

}